# ---------- Python ----------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# ---------- Virtualenv ----------
.venv/
venv/
env/

# ---------- Environment ----------
.env

# ---------- Docker ----------
.dockerignore

# ---------- IDE ----------
.vscode/
.idea/

# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- Migrations cache ----------
alembic/versions/__pycache__/
